

.header {
    background-color: #7CFC00;
    text-align: start;
    padding: 10px;
}

ul {
    list-style: none
}

.menubar {
    display: flex;
    background-color:#FF0000 ;    
    justify-content: flex-end;
       
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2px;
    width: 30%;
    margin: 0;
}







.card1{
float: ;
flex-direction: row;
justify-content: space-around;


}

.pic{
    height: 20%;
    width: 10%;
}

.container{

    display: flex;
    flex-direction: row;
}
 
.contact  {
    height: 25;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}


  
