*, *::after, *::before {
    box-sizing: border-box;
}

.header {
    background-color: #7CFC00;
    text-align: start;
    padding: 10px;
}

.header-text {
    color:blueviolet;
    font-style: italic;
}

ul {
    list-style: none
}

.menubar {
    display: flex;
    background-color:#FF0000 ;    
    justify-content: flex-end;
       
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2px;
    width: 30%;
    margin: 0;
}

.main-sidinnehåll {
    display: flex;
    background-color: blue;
    justify-content: flex-start;

}

.godissortiment {
    display: flex;
    flex: 3 1 auto;
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;    
    
}

.img {
    flex-direction: row;
    align-self: center;
    max-width: 80%;
}

.img1 {
    flex-direction: row;
    align-self: center;
    max-width: 100%;
}

.aside {
    display: flex;
    flex: 1 1 25%;
    height: 200px;
    background-color: palevioletred;
    justify-content: flex-end;
}

footer {
    background-color: olive;
    height: 100px;
}

.footer-text {
    color: blue;
    text-align: center;
    padding: 3px
}



@media screen and (max-width:600px){
    .header {
        text-align: end;
    }

    .flex-container {
        flex-direction: column;
    }

    .main-sidinnehåll {
    flex-direction: column;
    }
}

@media screen and (min-width:600px){
    .aside {
        height: auto;
    }
}




.contact-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}


.pic {
    float: left;
    width: 50%;   
    padding: 3px;
    margin: 3px;
     
}

.pic img {
    max-width: 60%;
}


.contact.info {
    float: right;
    width: 50%;
    padding: 3px;
    margin: 3px;
}

.card {
    width: 500px;
    background-color: rgb(178, 199, 192);
    padding: 10px 0;
    margin: 5px;
    
}

.card::after {
    content: "";
    display: flex;
    clear: both;    

}













  
