

.header {
    background-color: #7CFC00;
    text-align: start;
    padding: 10px;
}

ul {
    list-style: none
}

.menubar {
    background-color:#FF0000 ;
    text-align: end;     
    
}

li {
    display: flex;
    align-items: flex-end;   
    padding: 8px;
}

.card1{
float: ;
flex-direction: row;
justify-content: space-around;


}

.pic{
    height: 20%;
    width: 10%;
}

.container{

    display: flex;
    flex-direction: row;
}
 
.contact  {
    height: 25;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}


  
